nav{
    background-color: maroon;
}

.textbox{
    text-align:start;
}

nav .nav-link {
    color: white;
    font-weight: bold;
}

.lightmode{
    background-color: white;
    color: black;
}

.darkmode{
    background-color: black;
    color: white;
}